<header>
 <div class="container">
  <a href="/"><img src="https://cdn.pixabay.com/photo/2017/05/13/20/46/office-2310610_960_720.png" alt="logo" class="logo"></a>
  <nav>
    <ul>
     <li><a href="/">Home</a></li>
     <li><a href="/about">About</a></li>
    </ul>
  </nav>

 </div>
</header>

