<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/assets/styles.css">
  <title>Error</title>
  <link rel="icon" type="image/png" 
  href="https://cdn.pixabay.com/photo/2017/05/13/20/46/office-2310610_960_720.png" sizes="16x16">
</head>

<body>
<%- include('partials/header.ejs') %>

<h1>Oh No! You have Ran into an Error</h1>
<p>Please report this error in the form which is located under the About Tab in our website. </p></br>
Your feedback is greatly appreciated!    
</body>

</html>