<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/assets/styles.css">
  <link rel="icon" type="image/png" href="https://cdn.pixabay.com/photo/2017/05/13/20/46/office-2310610_960_720.png" sizes="16x16">
  <title>About - IMSA Courses</title>
</head>

<body>
  <%- include('partials/header.ejs') %>

  <div id="aboutUs">
    <h1>About</h1>
    <p id="contributors">Contributors: Kevin Zhang, James Pan, Kevin Kirby, Sameer Komoravolu, Rashmi Alawani, Samuel Lee, Madhav Hota</p>
    <p class="aboutDescription">
    IMSA Courses is a Code Society project aimed at helping IMSA students with the course selection process by presenting information in a more compact and visual way. Information present was originally pulled from the syllabi avaliable at <a href="https://www.imsa.edu/" target="_blank">imsa.edu</a> and has undergone further review and editing by teachers with editing access. We are constantly working to make this site better, so if you find a error, please report it in the form below.</p>
  </div>

  <div id="ReportPageheader">
    <h2></h2>
  </div>
  <div id="AboutPageReport">
    <p>Any problems with the website? <a href="https://forms.gle/d6ZY7vK8awFCKn8V6">Report it here!</a></p>
  </div>

  <div id="Contact">
  Contact Us Here: kzhang1@imsa.edu
  </div>
  
  

</body>
</html>